<div class="login-page">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div *ngIf="errorMessages" class="alert alert-danger">
      {{ errorMessages }}
    </div>
    <div *ngIf="login.invalid && login.touched" class="alert alert-danger">
      <div *ngIf="login.errors.required">
        Email is required.
      </div>
      <div *ngIf="login.errors.email">
        Invalid email.
      </div>
    </div>
    <div>
      <label>Email: *</label>
      <input type="email" formControlName="login" required />
    </div>
    <div *ngIf="password.invalid && password.touched" class="alert alert-danger">
      <div *ngIf="password.errors.required">
        Password is required.
      </div>
    </div>
    <div>
      <label>Password: *</label>
      <input type="password" formControlName="password" required />
    </div>
    <div>
      <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </div>
  </form>
  <div>
    <a routerLink="/signup">Sign up</a>
  </div>
</div>